<div class="btn-group btn-group-xs" role="group">
  <button ng-click="cheat()" class="btn btn-default">CHEaT</button>
  <button ng-click="burn()" class="btn btn-default">BUrN!</button>
  <button ng-click="tick()" class="btn btn-default">t1Ck</button>
  <button ng-if="paused()" ng-click="resume()" class="btn btn-default">&raquo;</button>
  <button ng-if="!paused()" ng-click="pause()" class="btn btn-default">|&nbsp;|</button>
  <button ng-click="save()" class="btn btn-default">save</button>
</div>
