  <div class="full doomguy-container state-{{ getState() | lowercase }}">
    <img ng-src="asset/doomguy/state-{{ getState() | lowercase }}.gif"
         ng-click="hit()"
         ng-class="doomguy-img-{{ getState() | lowercase }}"
         ng-style="{top: getMarineTop(imgEl.offsetWidth)}"
         marine-top-offset />
    <div class="progress-container" ng-if="1||showHealthBar()">
      <div class="progress marine-health-bar full">
        <div role="progressbar"
             class="progress-bar progress-bar-danger progress-bar-striped"
             ng-style="{width: getHealth() + '%'}">
          Marine lvl {{ getLevel() }}
        </div>
      </div>
    </div>
  </div>
  <div>health: {{ getHealth() }}</div>
  <div>state: {{ getState() }}</div>
