<div class="btn-group-vertical monsters-container" role="group">
  <button ng-repeat="monsterId in available.ids()"
          ng-disabled="!buyable.canBuyNext(monsterId)"
          ng-click="buyable.buy(monsterId)"
          type="button"
          class="full btn btn-primary">
    <span class="name pull-left">{{ item.name(monsterId) }}</span>
    <span class="owned badge pull-right">{{ ownable.cnt(monsterId) }}</span>
    <span class="pull-right shooting-container" ng-if="item.data(monsterId, 'ammo') && ownable.cnt(monsterId)">
      <div class="progress">
        <div role="progressbar"
             ng-class="shooting.shootingClass(monsterId)"
             ng-style="{width: shooting.shootingWidth(monsterId) + '%'}"></div>
      </div>
    </span>
    <span class="buy pull-left">buy {{ buyable.maxBuyable(monsterId) || 1 }} for {{ buyable.priceOfNext(monsterId) | BigPrint }}</span>
  </button>
</div>

<button class="cycle half center-block btn btn-info" ng-click="buyable.cycleBuyAtOnce()">
  BUY<span class="badge pull-right">{{ buyable.buyAtOnce ? buyable.buyAtOnce : 'max' }}</span>
</button>
