<div class="upgrades-container btn-group-vertical full" role="group">
  <span class="list-group-item active">
    <div class="btn-group">
      <button ng-click="hasTabs.setActiveTab('available')"
              class="btn btn-primary">available</button>
      <button ng-click="hasTabs.setActiveTab('owned')"
              class="btn btn-primary">owned ({{ ownable.cntDistinct() }})</button>
    </div>
    <button ng-if="hasTabs.isActiveTab('available')"
            ng-disabled="!buyable.canBuyAll()"
            ng-click="buyable.buyAll()"
            class="btn btn-default pull-right">buy all for {{ buyable.priceOfAll() | BigPrint}}</button>
  </span>
  <span ng-if="hasTabs.isActiveTab('available')">
    <button ng-repeat="upgradeId in available.ids()"
            ng-disabled="!buyable.canBuyNext(upgradeId)"
            ng-click="buyable.buy(upgradeId, 1)"
            class="full btn btn-default list-group-item">
      <span class="name">{{ item.label(upgradeId, 'name', 1) }}
        <small ng-if="buyable.canBuy(upgradeId, 1)">{{ item.label(upgradeId, 'description') }}</small>
      </span>
      <span class="price">buy for {{ buyable.priceOfNext(upgradeId, 1) | BigPrint}}</span>
    </button>
  </span>
  <span ng-if="hasTabs.isActiveTab('owned')">
    <button ng-repeat="upgradeId in ownable.ownedIds()"
            disabled
            class="full btn btn-default list-group-item">
      <span class="name">{{ item.label(upgradeId, 'name', 0) }}
        <small>{{ item.label(upgradeId, 'description', 0) }}</small>
      </span>
      <span class="price">bought at {{ ownable.lastOwn(upgradeId) | TimePrint }}</span>
    </button>
  </span>
</div>
