.full { width: 100%; }
.half { width: 50%; }

/** AppController */
#header-cycle-buy {
    margin-top: -0.5em;
}
.btn:focus {
    color: #fc8 !important;
}

/* MarineController */
.doomguy-container {
    overflow: hidden;
    padding-top: 15px;
}
.doomguy-container img { }
.doomguy-container img:focus { }
.doomguy-container.state-idle {
    width: 103%;
}
.doomguy-container.state-idle img { }
.doomguy-container.state-dies {
}
.doomguy-container.state-dies img {
    width: 158%;
    position: relative;
    left: -24%;
    margin-right: -24%;
}

.doomguy-container .progress-container {
    position: relative;
    width: 90%;
    left: 5%;
    top: -28px;
}

/* MonstersController */
.monsters-container {
    width: 90%;
    margin: 1em 4% 1em 5%;
}

.monsters-container .btn .name {
    clear: none;
    font-size: 125%;
}
.monsters-container .btn .buy {
    clear: left;
    font-size: 75%;
}
.monsters-container .btn .owned {
    font-size: 150%;
    position: absolute;
    right: 0.5em;
    top: 0.2em;
}
#monsters .btn.cycle .badge {
    /*position: absolute;*/
    /*right: 0.5em;*/
    /*top: 0.2em;*/
}
.monsters-container .shooting-container {
    position: absolute;
    right: 0.5em;
    bottom: 0.65em;
    height: 0.5em;
    width: 40%;
}
.monsters-container .shooting-container .progress {
    height: 0.5em;
}

/** scoreboard */
.scoreboard-container {
    padding-top: 1em;
}
.scoreboard-container .list-group-item {
    overflow: auto;
}
.scoreboard-container .c0 {
    float: left;
    clear: left;
    width: 26%;
}
.scoreboard-container .pre {
    font-family: monospace;
}
.scoreboard-container .c1 {
    float: left;
    clear: none;
    width: 22%;
    margin-left: 2%;
    text-align: right;
}
.scoreboard-container .c10 {
    float: left;
    clear: none;
    width: 18%;
    margin-left: 6%;
}
.scoreboard-container .c10.first {
    clear: left;
    width: 26%;
    margin-left: 0;
}
.scoreboard-container .c11 {
    float: left;
    clear: none;
    text-align: right;
    width: 20%;
    margin-left: 4%;

}
.scoreboard-container .bl {
    border-left: 1px solid #AAA;
}

/** upgrades */
.upgrades-container {
    padding-top: 1em;
}
.upgrades-container button {
    padding: 12px 20px;
}
.upgrades-container button .name {
    float: left;
    font-weight: bold;
}
.upgrades-container button .name small {
    font-weight: normal;
    font-size: 70%;
}
.upgrades-container button .price {
    float: right; clear: none;
}

/** secrets */
.buttons-panel {
    padding-top: 1em;
}
.buttons-panel button {
    padding: 12px 20px;
}
.buttons-panel button .name {
    float: left;
    font-weight: bold;
}
.buttons-panel button .description {
    padding-left: 1em;
    font-size: 70%;
}
.buttons-panel button .info {
    float: right;
    clear: none;
}
.buttons-panel button .name {
}
.buttons-panel button .name {
}

/** backpack */
.backpack-container {
    display: block;
    overflow: auto;
    padding-top: 1em;
}
.backpack-container .progress-container {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    clear: none;
    position: relative;
}
.backpack-container .progress {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.backpack-container .progress-bar {
    text-align: left;
    padding-left: 1em;
    color: black;
}
.backpack-container .progress .info {
    position: absolute;
    left: 0.25em;
}
.backpack-container .progress .info-cnt {
    position: absolute;
    right: 0.25em;
}
